.contact {
    width: 100%;
    background-color: rgb(22, 21, 21);
    padding-bottom: 3px;
    position:fixed;
    top:0;
    z-index:1;
    font-family: Montserrat;
   
}

.contact-header{
    padding-left: 150px;
    color:rgb(247, 164, 76);
    font-size: 13px;
}
.contact-header img{ 
    transform: translateY(3px);
    margin-right: 3px;  
}
header {
    margin-top:30px;
    min-height: 90px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden; 
    background: -webkit-linear-gradient(rgb(229, 202, 168),rgb(255, 254, 254));
  
}
header .logo img{
    border: 2px solid black;
    width: 100px;
    margin-right: 10px;
}

header .logo a{
    font-size: 30px;
    text-decoration: none;
    color:rgb(84, 56, 4); 
    text-shadow: 1px 1px rgb(240, 202, 131);
    font-weight: 600; 
    font-family: Montserrat;  
}

header nav{
    display:flex;
}

nav ul li {
    list-style: none;
    display:inline-block;
}

nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    padding: 0 15px;
    font-weight: 450;
}
.hometext a{
    color: rgb(184, 122, 6);
}
nav ul li a:hover{
    color: rgb(248, 130, 3);
}

nav .nav-cart {
    cursor: pointer;
    position: relative;
}

nav .nav-cart span{
    position: absolute;
    top: -12px;
    right: -7px;
    background: crimson;
    font-size: 10px;
    color: white;
    padding: 3px 5px;
    border-radius: 50%;
    z-index: -1;
}

header .menu,
header .close{
    cursor: pointer;
    display: none;
}
.dropdown-content {
    display: none;
    z-index: 1;
    position: absolute;
    background: white;
}

.dropdown:hover .dropdown-content{
    display: block;
}
.dropdown-content a {
    float: none;
    color: black;
    padding: 9px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

@media(max-width:771px){
    header ul{
        position: fixed;
        top:-100%;
        left: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        background-color: white;
        z-index: 99;
        opacity: 0.97;
        transition: 0.5s linear;
    }
    header .menu,
    header .close{
        display: block;
    }
    header .close{
        position: absolute;
        top:10px;
        right: 20px;
    }
    header ul.toggle{
        top:0;
    }
    .contact{
        padding-top:1%;
    }
    .contact-header{
        padding-left: 10px;
        font-size: 10px;

    }
    .contact-header img{ 
        transform: translateY(3px);
        margin-right: 3px;  
    }
    header .logo a{
        font-size: 18px;
    }
    header .logo img{
        border: 1px solid black;
        width: 50px;
    }

}