#home{
    object-fit: cover; 
    width: 100%;
    font-family: Montserrat;
}

.slider{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    padding-bottom: 100px;
    position: relative;
}
.slider p{
    margin-left: 35%;
    color: rgb(12, 12, 12);
    font-size: 35px;
    font-weight: 500;
    z-index: 1;
    position: absolute;
    top: 40%;
    width: 30%;
    text-align: center;
    text-shadow: 1px 1px rgb(155, 153, 153);
    border-bottom: 2px solid black;
    font-family: Montserrat;
    font-style: italic;
}
.slider h5{
    margin-left: 45%;
    color: rgb(252, 250, 250);
    font-size: 35px;
    font-weight: 500;
    z-index: 1;
    position: absolute;
    top: 50%;
    width: 10%;
    text-align: center;
    text-shadow: 1px 1px rgb(155, 153, 153);
    border: 2px solid rgb(27, 25, 25);
    font-size: 20px;
    background: rgb(34, 32, 32);
    border-radius: 15px;
    box-shadow: 1px 2px rgb(137, 134, 134);
    cursor: pointer;
}

.slider h5:hover{
    background: white;
    color: black;
}
.wdt{
    z-index: -1;  
    width: 37%  !important;  
}  
 
.img  
{   
    z-index: -1;
    height: 650px !important;
    width: 1500px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.wdt1{  
    width: 40%  !important;  
    margin-left: 40px
}  
 
.img1  
{  
    height: 600px !important;
    width: 1000px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin-left: 130px;
    padding-right: 130px;
    

}


.logan {
    padding: 10px 20px;
    padding-top: 0px;
    margin-left:30px;
}

.logan p i{
    font-size: 25px;

}

.logan1{
    padding:10px;
    padding-bottom: 100px;
}

.logan1 p{
    padding: 10px;
    margin-left: 30px;
    letter-spacing: 2px;
}

.logan1 h3{
    font-size: 28px;
    margin-left: 40px;
    padding-bottom: 20px;
}
.custom-content{
    width: 100%;
    padding-bottom: 140px;
}

.container{
    display: flex;
    background: #FAEBD7;
    width: 100%;
    margin-left: 50px;
    max-width: 1100px;
    height: 400px;
}
.flex-box-square img{
    width: 400px;
    height: 100%;

}


.text1{
    font-size: 34px;
    letter-spacing: 2px;
    margin-top: 160px;
    margin-left: 180px;
}

.text2{
    font-size: 18px;
    margin-left: 100px;
    padding-top: 10px;
    font-style: italic;
}
.intro{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10%;
    flex-direction: row;

}
.intro-text{
    text-align: center;
    flex: 50%;
    padding-right: 5%;
    padding-left: 10%;
}
.intro-img{
    flex: 50%;
    padding-right: 3%;
    padding-left: 3%;
}

.intro-img img{
    width: 100%;
    width: 500px;
}
.intro-title{
    font-size: 30px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    width: 76%;
    margin-left: 12%;
    margin-right: auto;
    padding-bottom: 50px;
    
}

.flex-container > div {
    width: 100%;
    background-color: #f1f1f1;
    flex: 30%;
    height: 200px;
    margin: 5px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    box-shadow: 2px 8px 20px #ddd;
    position: relative;
}
.service-content > p{
    text-align: center;
    font-size: 30px;
    padding: 30px;
    margin-bottom: 40px;
}
.flex-container img{
    width: 100%;
    height: 100%;
    z-index:-1;
}

.flex-container div p{
    width: 100%;
    height: 100%;
    position:absolute;
    z-index:1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size:30px;
    color: white;
    display:none;
    background-color:rgb(34, 32, 32);
    
}
.flex-container div:hover p{
    display: flex;
    background-color: rgba(61, 51, 51, 0.5); 
}

.service-content span{
    color: orange;
}

.button-more{
    display:flex;
    justify-content: center;
    padding-bottom: 100px;
}
.button-more button{
    width: 150px;
    height:30px;
    background: white;
    font-weight: 500;
}

.button-more button:hover{
    background-color: rgb(54, 53, 53);
    color: white;
}

@media(max-width:1303px){
    .slider{
        width: 100%;
        padding: 0;
        margin: 0;
        height: 100%;
        padding-bottom: 30px;
    }
    .slider p{
        font-size: 17px;
    }
    .slider h5{
        font-size: 15px;
    }
    .wdt{  
        width: 37%  !important;  
    }  
     
    .img  
    {  
        height: 400px !important;
        width: 900px !important;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
        padding-left: 0px !important;
        padding-right: 50px !important;
    }
    .slider1{
        width: 100%;
        padding: 0;
        margin: 0;
        height: 100%;
        padding-bottom: 30px
    }
    .wdt1{  
        width: 37%  !important;  
    }  
     
    .img1  
    {  
        width: 100%;
        height: 300px !important;
        width: 500px !important;
        padding-right: 80px !important;
        padding-left: 0px !important;
        align-self: center;

    }
    .custom-content{
        width: 100%;
        padding-bottom: 140px;
        padding-right: 80px;
    }    
    .container{
        display: flex;
        background: #FAEBD7;
        width: 100%;
        margin-left: 50px;
        height: 400px;
    }
    .flex-box-square img{
        display: none;      
    }
    .container2{
        padding-right: 50px;
    }
    .text1{
        font-size: 25px;
        padding-right: 70px;
    }
    .text2{
        font-size: 15px;
    }
    .logan p i{
        font-size: 20px;  
    }
    .intro{     
        flex-direction: column; 
        padding-top: 50px;       
    }
    .intro-text{
        padding-bottom: 3%;
    }
}

@media(max-width:700px){
    .slider p{
        font-size: 12px;
    }
    .slider h5{
        font-size: 10px;
    }
    .flex-container > div {
       flex: 50%;
       max-width: 47%;
    }
    .flex-container div p{
        font-size:20px;
     }
}


